.super-mario {
    width: 200px;
    position: absolute;
    z-index: 2;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 1;
  }
  
  .baloon {
    position: absolute;
    top: 600px;
    z-index: 1;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 640px;
    left: 30px;
    color: green;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 730px;
    left: 315px;
  }