h1, p{
    text-align: center;
}
ol li:hover{
    background-color: green;
    list-style: none;
}
ol li:active{
    color: red;
    /* list-style: none; */
}
li{
    font-family: helvetica;
    /* list-style: none; */
}