.primaria{
    background-color: red;
    font-style: italic;
}
.secundaria{
    background-color:blue;
    font-style:initial
}
.complementar{
    background-color: green;
    font-style:italic;
   
}
.escura{
    background-color: purple;
    font-style:initial;
}
.clara{
    background-color: yellow;
    font-style:italic;
}
.primaria:hover, .secundaria:hover, .complementar:hover, .escura:hover, .clara:hover{
    border: 20px solid orange;
}