#background-input{
  background-color: red;
}
#textColor-input{
  color: blue;
}
#fontSize-input{
  font-size: 80px;
}
#lineSpace-input{
  line-height: 40px;
}
#fontType-input{
  font-family: Helvetica;
}